@keyframes moveSlideAnimation {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.move-slide {
    // animation: moveSlideAnimation .4s linear 0s alternate;
}

@keyframes ar-animation {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0);
    }
}